@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100&family=Work+Sans:wght@100&display=swap');

* {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: 'Work Sans', sans-serif;
}

nav {
    background: rgb(186, 185, 185);
    /*margin: 0;*/
    /*padding: 0;*/
    margin-bottom: 0;

}

ul {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex; /* made unordered list a flex container */
    justify-content: space-between;
    align-items: center;

}

.logo>a{
    font-family: 'Montserrat', sans-serif;
    font-size: 3em;
    padding: .2em;
    /*margin: 0 auto;*/
    /*align-content: center;*/
    /*margin: auto;*/
}

.logo {
    margin: auto;
}

.link-font {
    font-family: 'Work Sans', sans-serif;
}

nav a {
    text-decoration: none;
    color: rgb(15, 14, 15);
    /*font-family: 'Work Sans', sans-serif;*/
    display: inline-block; /* inline-block to increase clickable area beyond the text */
    padding: 1em; /* increases clickable area of anchor tags on all sides by 1em */
    font-weight: bold;

}

nav a:hover {
    color: blue;
}

nav ul li:nth-child(5) {
    /*
        this allows the last flex item to be right justified
        by filling remaining space to the left of the flex item with margin
    */
    margin: auto;
}



