body, html {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
    font-family: Arial, Ubuntu, sans-serif;
}

.message-info {
    background-color: rgb(195, 218, 253);
    margin: 5px 0px;
    height: 40px;
    border-radius: 5px;
    width: 850px;
    /*margin: auto;*/

}

.message-success {
    background-color: rgb(199, 241, 214);
    margin: 5px 0px;
    height: 40px;
    border-radius: 5px;
    width: 850px;

}

.message-warning {
    background-color: rgb(255, 249, 197);
    margin: 5px 0px;
    height: 40px;
    border-radius: 5px;
    width: 850px;

}

.message-error {
    background-color: rgb(252, 204, 210);
    margin: 5px 0px;
    height: 40px;
    border-radius: 5px;
    width: 850px;

}
