/*Selectors*/
/*HTML Element Selector*/
h1 {
    color: red;
}

/*Class Selector*/
.orange-bg {
    background-color: orange;
}

/*ID Selector*/
#back-to-top {
    text-decoration: none;
    color: hotpink;
}

#blue-bg {
    background-color: blue;
}

.underline {
    text-decoration: underline;
}

/*Descendant Selector*/
.orange-bg li {
    font-family: Helvetica, sans-serif;
}

#parent-div div h2 {
    color: lightblue;
}

main th {
    color: darkblue;
}

.table-info>th {
    text-decoration: underline;
}

.container>h1 {
    color: goldenrod;
}

.container {

}

/*Combination Selector*/
