body {
    /*background-color: hotpink;*/
}

header {
    background-color: blue;
    /*background-image: url('/img/lightning.jpeg');*/
    /*background-repeat: no-repeat;*/
    color: white;
    background-size: 100%;
    padding-bottom: 2em;
    padding-top: 2em;
}

.card {
    margin: 1em;
    border: .5em solid white;
}

#location-prompt {
    /*color: white;*/
    /*margin-left: 1em;*/
    /*background-color: hotpink;*/
    /*visibility: hidden;*/
}

.visibility-hidden {
    visibility: hidden;
}

.card-header {
    /*background-color: hotpink;*/
    width: 100%;
    text-align: center;
}

.card-heading {
    background-color: rgb(247, 246, 246);
    color: black;
    text-align: center;
    padding: .5em;
    width: 100%;
}

#change-location-link {
    color: greenyellow;
    font-size: .75em;
}

#search-button {
    color: white;
    border-color: white;
    padding: .5em;
    /*background-color: lightgray;*/
}